@model GetAdminAboutDto

@{
    ViewBag.Controller = "Admin";
    ViewBag.Title = "About";
    ViewBag.Link = "/Admin/About";
    Layout = "_AdminLayout";
}

<div class="col-xl-12 mx-auto">
    <h6 class="mb-0 text-uppercase">Edit Aboud Data</h6>
    <hr>
    <div class="card">
        <div class="card-body">
            <div class="border p-4 rounded">
                <div class="card-title d-flex align-items-center">
                    <h5 class="mb-0">About Data Form</h5>
                </div>
                <hr>
                <form id="userForm" action="About" method="post">
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Name" id="inputEnterYourName" placeholder="Enter Your Name" value="@Model.Name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-3 col-form-label">Surname</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Surname" id="inputEnterYourSurname" placeholder="Enter Your Name" value="@Model.Surname">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPhoneNo" class="col-sm-3 col-form-label">Phone No</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPhoneNo" name="Phone" value="@Model.Phone" placeholder="Phone No">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmailAddress" class="col-sm-3 col-form-label">Email Address</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmailAddress" value="@Model.Email" name="Email" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputAddress" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="inputAddress" rows="3" name="Address"  placeholder="Address">@Model.Address</textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputDescription" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="inputDescription" rows="3" name="Description"  placeholder="Description">@Model.Description</textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputImageUrl" class="col-sm-3 col-form-label">Image Url</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputImageUrl" value="@Model.ImageUrl" name="ImageUrl" placeholder="Your Image Url">
                        </div>
                    </div>
                    @Html.Hidden("ID", Model.ID)
                    <div class="row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <button type="submit" id="submitButton" class="btn btn-primary px-5">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


