@model List<ResultAdminEducationDtos>


@foreach (var item in Model)
{
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">@item.Title</h3>
            <div class="subheading mb-3">@item.Subtitle</div>
            <div>@item.Description  </div>
            <p>GPA: @item.GPA</p>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">@item.EducationDate</span>
        </div>
    </div>
}
